@model IEnumerable<Poetry.DomainModels.Poet>


@{
    ViewBag.Title = "Poets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    @foreach (var poet in Model)
    {
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <a href="/poets/details/@poet.PoetId" class="alert-link">@poet.Name</a>
            </div>
        </div>
    }


    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.AvatarUrl)
            </th>
            <th></th>
        </tr>



@foreach (var item in Model) {

  
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarUrl)
            </td>

    </tr>
}

</table>


</div>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plane"></span>

</button>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-cloud"></span>
</button>
<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-road"></span>
</button>





